# Description: Sample .env file for the server
# Usage: Copy this file to .env and replace the values with your own
# Note: In production, the values should be set as environment variables and/or Key Vault secrets
WEBSOCKET_SERVER_API_KEY=your_api_key
WEBSOCKET_SERVER_CLIENT_SECRET=your_secret

AZURE_STORAGE_ACCOUNT_CONTAINER="audio"
AZURE_SPEECH_REGION=""
AZURE_EVENT_HUB_NAME=active_sessions

# Authentication by Managed Identity (recommended)
AZURE_STORAGE_ACCOUNT_URL="https://storageaccountname.blob.core.windows.net/"
AZURE_SPEECH_RESOURCE_ID=""
AZURE_EVENT_HUB_HOSTNAME=eventhubname.servicebus.windows.net

# Authentication by key
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_SPEECH_KEY=""
AZURE_EVENT_HUB_CONNECTION_STR=""
